<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Resource</key>
	<dict>
		<key>Sunlight</key>
		<dict/>
	</dict>
	<key>Producer</key>
	<dict>
		<key>Arctic Wildflower</key>
		<dict>
			<key>Arctic Wildflower</key>
			<string>3.0</string>
			<key>Arctic Hare</key>
			<string>-0.5</string>
		</dict>
		<key>Phytoplankton</key>
		<dict>
			<key>Sunlight</key>
			<string>0.01</string>
			<key>Baleen Whale</key>
			<string>-0.3</string>
			<key>Fish</key>
			<string>-1.0</string>
			<key>Phytoplankton</key>
			<string>3.0</string>
		</dict>
	</dict>
	<key>Consumer</key>
	<dict>
		<key>Arctic Hare</key>
		<dict>
			<key>Arctic Hare</key>
			<string>-1.0</string>
			<key>Grey Wolf</key>
			<string>-0.5</string>
			<key>Arctic Wildflower</key>
			<string>1.5</string>
		</dict>
		<key>Grey Wolf</key>
		<dict>
			<key>Grey Wolf</key>
			<string>-0.5</string>
			<key>Arctic Hare</key>
			<string>0.2</string>
		</dict>
		<key>Fish</key>
		<dict>
			<key>Penguin</key>
			<string>-0.85</string>
			<key>Phytoplankton</key>
			<string>1.5</string>
			<key>Fish</key>
			<string>-1.3</string>
		</dict>
		<key>Penguin</key>
		<dict>
			<key>Leopard Seal</key>
			<string>-0.5</string>
			<key>Orca</key>
			<string>-0.5</string>
			<key>Fish</key>
			<string>1.5</string>
			<key>Penguin</key>
			<string>-1.0</string>
		</dict>
		<key>Orca</key>
		<dict>
			<key>Penguin</key>
			<string>0.5</string>
			<key>Fish</key>
			<string>1.0</string>
			<key>Orca</key>
			<string>-0.5</string>
		</dict>
		<key>Leopard Seal</key>
		<dict>
			<key>Leopard Seal</key>
			<string>-0.6</string>
			<key>Penguin</key>
			<string>0.6</string>
		</dict>
		<key>Baleen Whale</key>
		<dict>
			<key>Baleen Whale</key>
			<string>-0.2</string>
			<key>Phytoplankton</key>
			<string>0.2</string>
		</dict>
	</dict>
</dict>
</plist>
